[Unit]
Description=Angel Identity service
Requires=angel-postgres.service
After=angel-postgres.service

[Container]
Image=localhost/angel-identity:latest
ContainerName=angel-identity
Network=angel-network.network
EnvironmentFile=/etc/angel-os/angel-os.env
Environment=PORT=3200

[Service]
Restart=always
TimeoutStartSec=90

[Install]
WantedBy=default.target
